# Port and host to bind the server to. If running in Docker, there's no point changing them.
PORT=8080
HOST=0.0.0.0
# The URI used for connecting to redis
REDIS_URI=localhost:6379

# URL that the root of the API will redirect to.
# The site specified here HAS TO link to the source code (including your modificiations, if applicable),
# to comply with the AGPL-3.0 license terms.
# If your instance is public, you should also provide a Privacy Policy for your users.
ROOT_REDIRECT=https://github.com/Vencord/Vencloud

# Your Discord application data
# 1. Create application at https://discord.com/developers/applications
# 2. Navigate to the OAuth2 tab
# 3. Under "Client information", you'll find the client id and secret. You'll have to press "Reset Secret" to get the secret
# 4. Under "Redirects", click "Add Redirect" and add your domain with `/v1/oauth/callback` appended to it
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://example.com/v1/oauth/callback

# This is prepended to the user ID before hashing to generate the key used to store their api secret.
# Can be generated via `openssl rand -hex 64`. At least 32 bytes should be used
PEPPER_SECRETS=
# This is prepended to the user ID before hashing to generate the key used to store their settings.
# Can be generated with `openssl rand -hex 64`. At least 32 bytes should be used
PEPPER_SETTINGS=

# The maximum settings backup size in bytes. Default is 32MB.
SIZE_LIMIT=32000000

# List of Discord user IDs allowed to use the service, separated by commas.
# If empty, all users are allowed
ALLOWED_USERS=

# Whether to enable and expose analytics at /metrics
PROMETHEUS=false

# The header containing the connecting user's ip when running behind a reverse proxy,
# e.g. X-Forwarded-For or CF-Connecting-IP. Used for anti abuse purposes.
# If not using a reverse proxy, leave this empty
PROXY_HEADER=X-Forwarded-For
